<app-header></app-header>

<div class="container">
  <form #contact="ngForm" (submit)="submitForm(contact)" novalidate>
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" autocomplete="off" type="text" name="name" ngModel  #name = "ngModel" pattern="\D+" required minlength="5" />      
    </div>

    <div class="alert alert-success" *ngIf="name.valid && name.touched">
        <div> Looks Good!!</div>
    </div>

    
    <div class="alert alert-danger" *ngIf="!name.touched && contact.submitted">
        <div>
            <span>Please Enter Your Name </span>
        </div>
    </div>

    <div class="alert alert-danger" *ngIf="!name.valid && name.touched">
        <div *ngIf="name.errors?.required">
            <span>Please Enter Your Name </span>
        </div>

        <div *ngIf="name.errors?.minlength">
            <span>Name should be atleast 5 characters long. </span>
        </div>

        <div *ngIf="name.errors?.pattern">
            <span>Only characters are allowed here</span>
        </div>
    </div>

    <br />
     
    <div class="form-group">
      
      <label>Age</label>
      <input class="form-control" type="text" name="age" ngModel  #age="ngModel" required pattern="[0-9]+"/>
      
      <div class="alert alert-success" *ngIf="age.valid && age.touched">
        <div> Looks Good!!</div>
    </div>

      <div class="alert alert-danger" *ngIf="!age.touched && contact.submitted">
        <div>
            <span>Please Enter Your Age </span>
        </div>
      </div>

      <div class="alert alert-danger" *ngIf="age.touched && !age.valid">
        <div *ngIf="age.errors?.required">Please enter your Age</div>
        <div *ngIf="age.errors?.pattern">Enter valid age</div>
      </div>
    </div>

    <br />

    <div class="form-group">
      <label>Gender</label><br />
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          value="male"
          name="gender"
          ngModel
        />
        <label>Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          value="female"
          name="gender"
          ngModel
          #gender='ngModel'
        />
        <label>Female</label>
      </div>
    </div>

    <!-- <div class="alert alert-success" *ngIf="gender.valid && gender.touched">
        <div> Looks Good!!</div>
    </div> -->

    <div class="alert alert-danger" *ngIf="!gender.touched && contact.submitted">
        <div>
            Please choose either one of the given options
        </div>
    </div>
    <br />


    <div class="form-group">
      <label>City</label>
      <select class="form-control" id="city"  name="cityname" ngModel #cityname="ngModel" required>
        <option disabled><--- Select city ---></option>
        <option *ngFor="let item of city;" [value]="item">{{ item }}</option>
      </select>
       
    </div>
    
    <div class="alert alert-danger" *ngIf="!cityname.touched && contact.submitted">
        <div>
                <span>Please select your City</span>
         </div>
    </div>

    <div class="alert alert-success" *ngIf="cityname.valid && cityname.touched">
        <div> Looks Good!!</div>
    </div>

    <div class="alert alert-danger" *ngIf="!cityname.valid && cityname.touched">
        <div *ngIf="cityname.errors?.required">
            <span>Please select your City</span>
        </div>
    </div>
    <br />

    <div class="form-group">
      <label>Hobbies</label>
        <div >
          <ul type="none">
            <li *ngFor="let item of hobbies" >
              <input type="checkbox" name="{{item.hobby}}" (change)="onChange()" [(ngModel)]="item.isChecked"> {{ item.hobby }}
            </li>
          </ul>
        </div>
     
      <!-- <small class="error" *ngIf="contact.submitted">Please choose atleast one Hobby</small> -->
    </div>
    <!-- <div class="alert alert-danger" *ngIf="contact.submitted">
        <div >Please choose atleast one Hobby</div>
    </div> -->
  
    <br />

    <div class="form-group">
      <label>Comments</label>
      <textarea
        class="form-control"
        rows="3"
        name="comment"
        ngModel
        #comment="ngModel"
        required minlength="5"
      ></textarea>
    </div>
    <div class="alert alert-danger" *ngIf="!comment.touched && contact.submitted">
        <div *ngIf="comment.errors?.required">
            <div>
             Please write atleast 5-10 words in comment box
            </div>
         </div>
    </div>

    <div class="alert alert-success" *ngIf="comment.valid && comment.touched">
        <div> Looks Good!!</div>
    </div>

    <div class="alert alert-danger" *ngIf="!comment.valid && comment.touched">
        <div *ngIf="comment.errors?.required">
           <div>
            Please write atleast 5-10 words in comment box
           </div>
        </div>
        
        <div *ngIf="comment.errors?.minlength">
          <div>
           Please write atleast 5-10 words in comment box
          </div>
       </div>
    </div>

   
    <br />

    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>
</div>


